services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: orderr
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data 
 
 
volumes:
  pgdata: